body{
	padding: 12px;
    background-color: #ffffe6;
	
}
#pagina{
	padding: 12px;
	background-color: white;
	border-style: solid;
	border-radius: 10px;
}
#titolo1{
	text-align: center;
	font-style: italic;
	margin-bottom:40px;
}

#titolo2{
	font-style: italic;
}

